#title
{
	text-align: center; 
}

section
{
	background-color: #FFD6C0; 
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
}

p
{
	margin: 0px;
}


/* Handle large browers. */
@media (min-width: 992px)
{	
	.col-lg-4
	{
		width: 33.33%; 
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6
	{
		width: 50%;
	}
}
