* {
	box-sizing: border-box;
	font-family: cursive;
}

p {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


.section {
	background-color: #a9de9c;
	border: 1px solid black;
	padding: 0px;
	width: 98%;
	position:  relative;
}

#main-title {
	text-align: center;
}

.row {
	width:  100%;
}

.column {
	margin-bottom: 10px;
}

.title {
	float: right;
	border: 1px solid black;
	border-top: 0px;
	border-right: 0px;
	padding: 3px;
	text-align: center;
	width: 25%;
	overflow: hidden;
}

#t1 {
	background-color: #0027d4;
	color: white;
}

#t2 {
	background-color: #b40a01;
	color: white;
}

#t3 {
	background-color: #ae44dc;
	color: white;
}

/* Handle different browser sizes. */

/* Handle large browsers. */
@media (min-width: 992px) {
	.col-lg-4 {
		width:  33.33%;
		float:  left;
	}
}

/* Handle medium browsers. */
@media (min-width:  768px) and (max-width:  991px) {
	
	.col-md-6, .third-row {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}
	.third-row {
		width: 101%;
	}
}
