* {
	box-sizing: border-box;
	font-family: cursive;
}

p {
	margin: 2px;
	border: 2px solid black;
	background-color: lightyellow;
}


.section {
	background-color: lightgrey;
	border: 2px solid black;
	padding: 0px;
}

#main-title {
	text-align: center;
}

.row {
	width:  100%;
}

/* Handle different browser sizes. */

/* Handle large browsers. */
@media (min-width: 992px) {
	.col-lg-4 {
		width:  33.33%;
		float:  left;
	}
}

/* Handle medium browsers. */
@media (min-width:  768px) and (max-width:  991px) {
	
	.col-md-6, .third-row {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}
	.third-row {
		width: 100%;
	}
}
